.hero {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://s3-us-west-2.amazonaws.com/obp-web-image-library/Small+Group+Adventures/Crown+of+the+Continent/Hero+Images/alpine-lake-cloudy-day.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
