body {
  margin: 0;
  font-family: sans-serif;
}
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://raw.githubusercontent.com/Kevinhnolan/MART_441/master/Homework_1/images/Sarg_Wall.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
  font-size: 5em;
  color: white;
}
.hero h2{
  color: white;
}
.hero .btn {
  display: block;
  width: 200px;
  border: 2px solid white;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: white;

}





body .content {
  position: center;
  z-index: 1000;
  top: 80vh;
  background: #faf8f8;
  width: 100%;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.ct_icon_box {
  margin-bottom: 100px;
}

.ct_icon_box_section {
  margin-bottom: 60px;
}

.ct-section_header {
  text-align: center;
  padding-top: 20px;
}

.ct-section_header h2 {
  font-size: 65px;
  font-size: 6.5rem;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.ct-section_header.ct-section_header--type2 h2 {
  font-size: 50px;
  font-size: 5rem;
  padding-bottom: 17px;
  padding-bottom: 1.7rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.ct-section_header.ct-section_header--type2 .ct-section_header-description {
  font-size: 18px;
  font-size: 1.8rem;
  color: #2e2e2e;
  font-weight: 400;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.ct-section_header.ct-section_header--type2 .ct-section_header-separator {
  background-color: #0BB3E1;
}

.ct-section_header-separator {
  background-color: #924399;
  height: 2px;
  height: 0.2rem;
  display: inline-block;
  width: 171px;
  width: 17.1rem;
  margin: 15px 0 10px;
  margin: 1.5rem 0 1rem;
}

.ct-icon_box {
  margin-bottom: 3rem;
}
